
:root{
    --bg-color-1: #464E47;
    --bg-color-2: #272B27;
    --font-color-1: #F1FFFA;
}


.footer-container {
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color-1);
    color: var(--font-color-1);

}.footer-container p{
    font-size: 1.2rem;
    margin: 0;
    padding: 5px 0;

}